<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
    </a>
    <a class="navbar-brand" href="#">Divine</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Главная</a>
    <div class="dropdown">
    <a class="btn btn-outline dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Фильмы
    </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Экшен</a>
        <a class="dropdown-item" href="#">Боевик</a>
        <a class="dropdown-item" href="#">Драмы</a>
        <a class="dropdown-item" href="#">Триллеры</a>
        <a class="dropdown-item" href="#">Комедии</a>
        <a class="dropdown-item" href="#">Фантастика</a>
        <a class="dropdown-item" href="#">Криминал</a>
        <a class="dropdown-item" href="#">Спортивные</a>
        <a class="dropdown-item" href="#">Романтические</a>
        <a class="dropdown-item" href="#">Ужасы</a>
        <a class="dropdown-item" href="#">Детективы</a>
        <a class="dropdown-item" href="#">Военные</a>
      </div>
    </div>
    <div class="dropdown">
    <a class="btn btn-outline dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Сериалы
    </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Военные</a>
        <a class="dropdown-item" href="#">Драмы</a>
        <a class="dropdown-item" href="#">Детективы</a>
        <a class="dropdown-item" href="#">Триллеры</a>
        <a class="dropdown-item" href="#">Комедии</a>
        <a class="dropdown-item" href="#">Фантастика</a>
        <a class="dropdown-item" href="#">Фэнтези</a>
        <a class="dropdown-item" href="#">Мелодраммы</a>
        <a class="dropdown-item" href="#">Романтические</a>
        <a class="dropdown-item" href="#">Ужасы</a>
        <a class="dropdown-item" href="#">Музыкальные</a>
        <a class="dropdown-item" href="#">Боевики</a>
      </div>
    </div>
    <div class="dropdown">
    <a class="btn btn-outline dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Мультфильмы
    </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Семейные</a>
        <a class="dropdown-item" href="#">Комедии</a>
        <a class="dropdown-item" href="#">Фантастика</a>
        <a class="dropdown-item" href="#">Фэнтези</a>
        <a class="dropdown-item" href="#">Приключения</a>
        <a class="dropdown-item" href="#">Познавательные</a>
        <a class="dropdown-item" href="#">Школа</a>
        <a class="dropdown-item" href="#">Мюзиклы</a>
      </div>
    </div>
    <div class="dropdown">
    <a class="btn btn-outline dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Аниме
    </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Военные</a>
        <a class="dropdown-item" href="#">Драмы</a>
        <a class="dropdown-item" href="#">Детективы</a>
        <a class="dropdown-item" href="#">Триллеры</a>
        <a class="dropdown-item" href="#">Комедии</a>
        <a class="dropdown-item" href="#">Фантастика</a>
        <a class="dropdown-item" href="#">Фэнтези</a>
        <a class="dropdown-item" href="#">Приключения</a>
        <a class="dropdown-item" href="#">Романтические</a>
        <a class="dropdown-item" href="#">Ужасы</a>
        <a class="dropdown-item" href="#">Школа</a>
        <a class="dropdown-item" href="#">Повседневность</a>
      </div>
    </div>
    <!-- <a class="py-2 d-none d-md-inline-block" href="#">Фильмы</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Сериалы</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Мультфильмы</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Аниме</a> -->
    <a class="py-2 d-none d-md-inline-block" href="#">О разработчике</a>
    <a class="py-2" href="/authorization">
      <img class="userLogo" [src]=userLogo alt="user logo">
    </a>
  </div>
</nav>



<router-outlet></router-outlet>

<footer class="footer container-fluid py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false" style="color:white;"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
      <small class="d-block mb-3 text-white">© 2017-2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Cool stuff</a></li>
        <li><a href="#">Random feature</a></li>
        <li><a href="#">Team feature</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Resource</a></li>
        <li><a href="#">Resource name</a></li>
        <li><a href="#">Another resource</a></li>
        <li><a href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Business</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Government</a></li>
        <li><a href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Team</a></li>
        <li><a href="#">Locations</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
