.site-header {
  background-color: rgb(26, 25, 28);
}
.site-header a {
  color: white;
}
.userLogo {
  height: 29px;
  width: auto;
}

.dropdown-menu > a {
  color: black;
}
.footer {
  background-color: rgb(26, 25, 28);
}
.footer a {
  color: yellow;
}
.footer h5 {
  color: white;
}
