@media (min-width: 768px)
.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
/* .carousel-start {
  background: url('bg-img.gif');
}
.carousel {
  height: 100%;
  width: 1050px;
  padding-left: 150px;
  padding-right: 150px;
  margin-left: 185px;
}
.carousel-inner > .carousel-item > img {
  width: 300px;
  height: auto;
}
.carousel-item {
  overflow: hidden;
}
.carousel-control-next, .carousel-control-prev {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}
.carousel-item h5 {
  font-size: 20px;
}
.carousel-item p {
  font-size: 15px;
} */
.carousel {
  margin-top: 150px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 100px;
}
.carousel > .carousel-inner > .carousel-item > .card-deck > .card {
  justify-content: center;
  align-items: center;
}
.carousel > .carousel-inner > .carousel-item > .card-deck > .card  > img {
  height: 450px;
}
.carousel > .controls-top {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
  box-sizing: border-box;
  line-height: 24px;
  font-weight: 300;
}
.carousel > .controls-top > .btnPrev {
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 50%;
}
.carousel > .controls-top > .btnNext {
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 50%;
}
.carousel > .carousel-inner h4 {
  padding-left: 25px;
  padding-bottom: 25px;
}
/* .interestingFilms > .card-deck > .card {
  justify-content: center;
  align-items: center;
  border: none;
}
.interestingFilms h3 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.interestingFilms > .card-deck > .card > img {
  height: 400px;
}
.interestingCartoons {
  padding-top: 50px;
}
.interestingCartoons > .card-deck > .card {
  justify-content: center;
  align-items: center;
  border: none;
}
.interestingCartoons h3 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.interestingCartoons > .card-deck > .card > img {
  height: 400px;
}
.aboutUs {
  padding-top: 50px;
}
.interestingSerials{
  padding-top: 50px;
}
.interestingSerials > .card-deck > .card {
  justify-content: center;
  align-items: center;
  border: none;
}
.interestingSerials h3 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.interestingSerials > .card-deck > .card > img {
  height: 400px;
}
.interestingAnime{
  padding-top: 50px;
  margin-bottom: 30px;
}
.interestingAnime > .card-deck > .card {
  justify-content: center;
  align-items: center;
  border: none;
}
.interestingAnime h3 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.interestingAnime > .card-deck > .card > img {
  height: 400px;
} */
