.playerAndPoster {
  padding-top: 60px;
}
.playerAndPoster > .imgPoster > img {
  width: auto;
  height: 510px;
  padding-left: 90px;
  border-radius: 10px;
  pointer-events: none;
}
.about {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 5px;
  padding-left: 150px;
  padding-right: 150px;
  /* background-color: rgba(0,0,0,.5); */
  font-family: comfortaa,cursive;
}
.about > .box > .info > .title {
  margin-bottom: 25px;
}
.about > .box > .info > .title > .ru {
  font-size: 35px;
}
.about > .box > .info > .genres,
.about > .box > .info > .year,
.about > .box > .info > .description{
  margin-bottom: 25px;
}
.about > .box > .info > .genres h5,
.about > .box > .info > .year h5,
.about > .box > .info > .description h4 {
  font-size: 26px;
}
.about > .box > .info > .genres p,
.about > .box > .info > .year p,
.about > .box > .info > .description p {
  font-size: 22px;
}
/* .descriptionFilms {
  width: 900px;
}
.descriptionFilms > .row > .col-md-8 > .card,
.descriptionFilms > .row > .col-md-4 > .card {
  border: none;
}
.descriptionFilms {
  padding-top: 15px;
  padding-bottom: 30px;
} */
.comments {
  width: 900px;
  padding-top: 50px;
  padding-bottom: 20px;
  background: rgba(214, 212, 176);
  border-radius: 5px;
  margin-bottom: 20px;
}
/* .progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
} */
