<div class="videoPlayer container">
  <h3>{{films.title}}</h3>
  <video autoplay controls muted src={{films.videoSrc}} width="900px" id="videoTrailer">
  </video>
</div>

<div class="descriptionFilms container">
  <div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Описание</h5>
        <p class="card-text">{{films.description}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <ul>
          <li><strong>Год: </strong>{{films.year}}</li>
          <li><strong>Жанр: </strong>{{films.genres}}</li>
          <li><strong>Бюджет: </strong>$55 000 000</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<div class="comments container ">
  <div class="commentsBorder media">
  <img [src]=commentsLogo class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Username</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
</div>
