<div class="videoPlayer container">
  <h3>Восхождение героя щита</h3>
  <video autoplay controls muted src="/assets/videos/shield-hero.mp4" width="900px" id="videoTrailer">
  </video>
</div>

<div class="descriptionFilms container">
  <div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Описание</h5>
        <p class="card-text">История повествует о параллельном мире «Мельмарк», которое постоянно подвергается атакам темных сил. Для сохранения баланса между мирами, в нашу вселенную был послан призыв о помощи. В ответ на зов в фантастические края отправляются четыре героя из современной Японии, где персонажи овладевают легендарными видами оружия: мечом, копьем, луком и щитом.
В параллельном мире, из-за отсутствия атакующих возможностей своего оружия, «Герой Щита» оказывается самым слабым персонажем. Отаку Наофуми Иватани располагает к себе только одного союзника, прекрасную принцессу Мальти Мельромарк. Однако вскоре она предает Наофуми, украв все богатства, и заявляет, что была похищена и изнасилована им.
За его предполагаемые преступления Наофуми воспринимается обществом как изгой и злодей. С ненавистью, наполняющей его сердце, он остается один и клянется отомстить всем, кто его оклеветал.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <ul>
          <li><strong>Год: </strong>2018</li>
          <li><strong>Жанр: </strong>Фэнтези, Приключения, Романтические</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<div class="comments container ">
  <div class="commentsBorder media">
  <img [src]=commentsLogo class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Username</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
</div>
