.playerAndPoster {
  padding-top: 60px;
}
.playerAndPoster > .imgPoster > img {
  width: auto;
  height: 510px;
  padding-left: 90px;
  border-radius: 10px 10px 10px 10px;
  pointer-events: none;
}
.about {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 5px;
  padding-left: 150px;
  padding-right: 150px;
  /* background-color: rgba(0,0,0,.5); */
  font-family: comfortaa,cursive;
}
.about > .box > .info > .title {
  margin-bottom: 25px;
}
.about > .box > .info > .title > .ru {
  font-size: 35px;
}
.about > .box > .info > .genres,
.about > .box > .info > .year,
.about > .box > .info > .description{
  margin-bottom: 25px;
}
.about > .box > .info > .genres h5,
.about > .box > .info > .year h5,
.about > .box > .info > .description h4 {
  font-size: 26px;
}
.about > .box > .info > .genres p,
.about > .box > .info > .year p,
.about > .box > .info > .description p {
  font-size: 22px;
}
/* .descriptionFilms {
  width: 900px;
}
.descriptionFilms > .row > .col-md-8 > .card,
.descriptionFilms > .row > .col-md-4 > .card {
  border: none;
}
.descriptionFilms {
  padding-top: 15px;
  padding-bottom: 30px;
} */
.comments {
  width: 900px;
  padding-top: 50px;
  padding-bottom: 20px;
  background: rgba(214, 212, 176);
  border-radius: 5px;
  margin-bottom: 20px;
}
