<img class="wave" [src]=waveImage>
	<div class="container">
		<div class="img">
			<img [src]=bgImage>
		</div>
		<div class="login-content">
			<form>
				<h2 class="title">Войти</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input type="text" class="input" placeholder="Почта">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input type="password" class="input" placeholder="Пароль">
            	   </div>
            	</div>
            	<a href="/registration">Нету аккаунта? Зарегистрируйся</a>
            	<input type="submit" class="btn" value="Войти">
            </form>
        </div>
    </div>
