<div class="playerAndPoster container-fluid row">
  <div class="imgPoster col-md-4">
    <img src={{cartoons.imgSrc}} alt="poster image">
  </div>
  <div class="videoPlayer col-md-8">
    <video src={{cartoons.videoSrc}}  muted controls width="900px">
    </video>
  </div>
</div>

<div class="about container-fluid">
  <div class="box">
    <div class="info">
      <div class="title">
          <div class="ru">{{cartoons.title}}</div>
      </div>
      <div class="genres field">
          <h5>Жанры:</h5>
          <p>{{cartoons.genres}}</p>
      </div>
      <div class="year field">
          <h5>Год:</h5>
          <p>{{cartoons.year}}</p>
      </div>
      <div class="description field">
          <h4>Описание</h4>
          <p>{{cartoons.description}}</p>
          </div>
        </div>
      </div>
</div>

<div class="comments container ">
  <div class="commentsBorder media">
  <img [src]=commentsLogo class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Username</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
</div>
