<div class="videoPlayer container">
  <h3>Суперсемейка 2</h3>
  <video autoplay controls muted src="/assets/videos/supersemeikas.mp4" width="900px" id="videoTrailer">
  </video>
</div>

<div class="descriptionFilms container">
  <div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Описание</h5>
        <p class="card-text">Чтобы вернуть доверие общества к супергероям, давний кумир семьи Парр - миллиардер Уинстон Дивор - намеревается организовать шумную пиар-кампанию с участием Эластики. Гибкая женщина отлично смотрится в кадре, а вот Боб не слишком подходит для этой роли. И теперь мистеру Исключительному приходится сидеть дома и воспитывать детей, пока его жена гоняется за преступниками. Но уже приближается момент, когда миру вновь потребуются все члены суперсемейства без исключения – появился могущественный враг, с которым может справиться только сплоченная команда героев.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <ul>
          <li><strong>Слоган: </strong>«It's been too long, dahlings»</li>
          <li><strong>Год: </strong>2018</li>
          <li><strong>Жанр: </strong>Боевики, Приключения, Фантастика, Комедии, Семейные</li>
          <li><strong>Бюджет: </strong>$200 000 000</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<div class="comments container ">
  <div class="commentsBorder media">
  <img [src]=commentsLogo class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Username</h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
</div>
